In [71]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [72]:
a = np.array([[1,2],[3,4],[5,6]])
a

array([[1, 2],
       [3, 4],
       [5, 6]])

In [73]:
scaled = a - np.mean(a,0)

In [74]:
scaled

array([[-2., -2.],
       [ 0.,  0.],
       [ 2.,  2.]])

In [75]:
c = np.cov(scaled.T)
c

array([[4., 4.],
       [4., 4.]])

In [76]:
eigval, eigvect = np.linalg.eig(c)

In [77]:
# we had 1,1,1,-1 in book calculation , here it is 0.707... this is because of ORTHO-NORMALISATION

In [78]:
pc = scaled.dot(eigvect)
pc

array([[-2.82842712,  0.        ],
       [ 0.        ,  0.        ],
       [ 2.82842712,  0.        ]])

In [79]:
# eigval

# PCI With IRIS Dataset

In [80]:
import seaborn as sns

In [81]:
df = sns.load_dataset('iris')
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [82]:
x = df.drop('species', 1)

In [83]:
from sklearn.preprocessing import StandardScaler