In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = sns.load_dataset('iris')
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [5]:
from ipywidgets import interact

In [13]:
@interact
def filter_sps(sps = list(df.species.unique())):
    return df[df.species == sps]

interactive(children=(Dropdown(description='sps', options=('setosa', 'versicolor', 'virginica'), value='setosaâ€¦

In [20]:
# !pip install pivottablejs

In [21]:
from pivottablejs import pivot_ui

In [22]:
pivot_ui(df)